<h1>My name is Dhruv Kriplani</h1>
	<h2>Web Development Path</h2>
		<p>It is a series of lessons lessons structured as path in order to have clear understanding of web development.In this aspect some basic steps are to be followed
			<ul>
				<li>Learn according to path</li>
				<li>Do not learn all in one day so as to overload your brain</li>
				<li>Dont skip practical exercises</li>
			</ul>
			
		</p>
	
		<h3>For more information go to below mentioned link
			<p>
		
				<a href="https://progate.com">Progate.com</a>
		</h3></p>
				<h4>Thank you</h4>


